{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section class="container my-4">

        <div class="row">
            <div class="col-3">
                {% include 'trainer/left_sidebar.html' %}
            </div>

            <div class="col-9">
                <h3 class="mb-4 border-bottom pb-1 text-center">Notifications  <span class="badge bg-info total_unread" style="position: relative; top: -3px; ">{{notifs.count}}</span></a></h3>

                <ul class="list-group notif-list">
                    {% for notification in notifications %}
                    <li class="list-group-item bg-light">
                        {{notification.notif_msg}}
                        <span class="btn btn-info btn-sm float-end">Mark as Read</span>
                    </li>
                    {% endfor %}
                </ul>


            </div>
        </div>

    </section>
    <!-- End -->
</main>

<script type="text/javascript">
    const Websocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/notifications/'
    );

    Websocket.onopen = function(){
        Websocket.send(JSON.stringify({
            'message': 'From Client'
        }));
    }

    Websocket.onmessage = function(){
        var _data = JSON.parse(event.data);
        $(".notif-list").append('<li class="list-group-item">'+_data.notif+'<span class="btn btn-info btn-sm float-end">Mark as Read</span> </li>');

        $(".total_unread").text(_data.total);
    }
    Websocket.onclose = function(){
        console.log("closed");
    }

</script>

{% endblock %}
