{% extends 'base.html' %}
{% block content %}
<style>

  .card-img-top {
      height: 250px; /* Set a fixed height */
      object-fit: cover; /* Maintain aspect ratio */
      width: 100%; /* Ensure the image takes full width of the card */
  }

  .btn-info {
      background-color: #17a2b8; /* Customize as needed */
      border: none;
      margin-top: auto; /* Push the button to the bottom */
  }

  .btn-info:hover {
      background-color: #138496; /* Customize as needed */
      transition: background-color 0.3s ease;
  }

</style>

<main>
    <!-- Services -->
    <section class="container my-4">
        <h1 class="text-center mb-4 section-heading border-bottom pb-2">{{gallery.title}} Images</h1>
        <div class="row">
          {% for gallery_img in gallery_imgs %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg">
                  <img src={{gallery_img.img.url}} class="card-img-top" alt="...">
                </div>

            </div>

          {% endfor %}
          <div class="text-center my-3">
            <a href="{% url 'gallery' %}" class="btn btn-info text-white btn-large">Go Back</a>
        </div>
        </div>
    </section>
    <!-- End -->
</main>

{% endblock %}