{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .marked{
        display:none;
    }
</style>

<main>
    <!-- Services -->
    <section class="container my-4">

        <div class="row">
            <div class="col-3">
                {% include 'user/left_sidebar.html' %}
            </div>

            <div class="col-9">
                <h3 class="mb-4 border-bottom pb-1 text-center">Notifications <span class="badge bg-primary total_unread "></span></h3>

                <span class="ajaxRes"> 

                </span>

                <ul class="list-group notif-list">
                </ul>


            </div>
        </div>

    </section>
    <!-- End -->
</main>


<script type="text/javascript">
    $(document).ready(function(){
        $(".ajaxRes").hide();

        setInterval(function(){

            $.ajax({
                url:"{% url 'get_notifications' %}",
                dataType:'json',
                beforeSend:function(){
                    $(".ajaxRes").show();
                },
                success:function(res){
                    _html='';

                    $(".total_unread").text(res.total_unread);

                    $.each(res.notifications,function(index,d){

                        if(d.notifStatus==true){
							_html+='<li class="list-group-item list'+d.pk+'">'+d.notify_detail+'<button data-index="'+d.pk+'" data-notifications="'+d.pk+'" class="btn btn-sm btn-secondary float-end markreadbtn markreadbtn'+d.pk+'"" style="display:none;">Mark as read</button><button class="float-end btn btn-success btn-sm marked'+d.pk+'"><i class="bi bi-check-square"></i></button></li>';
						}else{
							_html+='<li class="list-group-item bg-light list'+d.pk+'">'+d.notify_detail+'<button data-index="'+d.pk+'" data-notifications="'+d.pk+'" class="btn btn-sm btn-secondary float-end markreadbtn markreadbtn'+d.pk+'"">Mark as read</button><button class="float-end btn btn-success btn-sm marked marked'+d.pk+'"><i class="bi bi-check-square"></i></button></li>';
						}

                    });
                    $(".notif-list").html(_html);
                    $(".ajaxRes").hide();
                }
            });
        },5000);

        // Mark as read Section start

        $(document).on("click",".markreadbtn",function(){
            var _index = $(this).attr("data-index");
            var _notifications = $(this).attr("data-notifications");

            $.ajax({
                url:"{% url 'mark_read_notifications' %}",
                data:{
                    notifications: _notifications
                },
                beforeSend:function(){
                   
                },

                success:function(res){
                    if(res.bool == true){
                        $(".list"+_index).removeClass('bg-light');
                        $(".markreadbtn"+_index).hide();
                        $(".marked"+_index).show();
  
                    }
                }
            });
        });

        // End

    });
</script>

{% endblock %}
