{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container my-4">
    <h1 class="text-center mb-4 section-heading border-bottom pb-2">Subscription Plans</h1>
<main>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center ">
  {% for pricings in pricing %}
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm {% if pricings.highlight_status %} border-primary {% endif %}">

      {% if pricings.highlight_status %}
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">{{pricings.title}}</h4>
      </div>

      {% else %}

      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{pricings.title}}</h4>
      </div>
      {% endif %}

        
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{pricings.price}}<small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">

          {% for features in pricings.subscriptionplansfeatures_set.all %}
          <li><strong><b>.</b></strong> {{features.title}}</li>
         {% endfor %}

        </ul>
        <a href="checkout.html" class="w-100 btn btn-lg btn-outline-primary">Get started</a>
      </div>
    </div>
  </div>

  {% endfor %}
  
</div>

<h2 class="display-6 text-center mb-4">Compare plans</h2>

<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th style="width: 34%;"></th>
        {% for pricings in pricing %}
        <th style="width: 22%;">{{pricings.title}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for distinct_feature in distinct_features  %}
      <tr>
        <th scope="row" class="text-start">{{distinct_feature.title}}</th>


        {% for pricings in pricing %}
        
        <td>
          {% if pricings in distinct_feature.subplan.all %}
          <i class="bi bi-check-lg"></i>
          {% else %}
          <i class="bi bi-x-lg text-danger"></i>
          {% endif %}

        </td>

        {% endfor %}


      </tr>
      {% endfor %}
      
     
    </tbody>
  </table>
</div>
</main>
</section>

{% endblock %}